<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="request_form_tab" translate="label" sortOrder="500">
            <label>Contact Form</label>
        </tab>
        <section id="request_form" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Request Form</label>
            <tab>request_form_tab</tab>
            <resource>Mendz_RequestForm::request_form</resource>
            <group id="general" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment>Assign field mapping on zendesk</comment>

                <field id="subject" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Subject Field</label>
                    <comment></comment>
                </field>
                <field id="name" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Name Field</label>
                    <comment></comment>
                </field>
                <field id="email" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Field</label>
                    <comment></comment>
                </field>
                <field id="order_number" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Number Field</label>
                    <comment></comment>
                </field>
                <field id="description" translate="label comment" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Description Field</label>
                    <comment></comment>
                </field>
            </group>
        </section>
    </system>
</config>